<div class="schedule-list__header" {{action 'toggleList'}}>
  Full schedule:
  {{#if isExpandable}}
    {{#if isExpanded}}
      {{fa-icon icon="caret-square-o-up pull-right"}}
    {{else}}
      {{fa-icon icon="caret-square-o-down pull-right"}}
    {{/if}}
  {{/if}}
</div>

{{#each schedule as |time|}}
  {{event-date time true}}<br>
{{/each}}

{{#if isExpandable}}
  <div class="schedule-list__show-all" {{action 'toggleList'}}>
    {{#if isExpanded}}
      <b>Hide</b>
    {{else}}
      <b>Show All</b>
    {{/if}}
  </div>
{{/if}}
{{yield}}
