{{#link-to "event" city.nickname event.slug}}
<div class="grid-item">
  <img src={{imageUrl}} alt="" />
  <div class="gradient-overlay"></div>
  <div class="bottom-info">
    {{#if event.start_time}}
      <div class="time">
        {{moment-format event.start_time 'ddd MMM DD, h:mma'}}
      </div>
    {{/if}}
    {{#if event.cost}}
      <div class="cost">
        {{event.cost}}
      </div>
    {{/if}}
  </div>
  <div class="info">
    <h3>{{event.name}}</h3>
    <p>@ {{event.venue}}</p>
  </div>

  {{#if event.shortSummary}}
    <div class="slideover">
      <p>{{event.shortSummary}}</p>
    </div>
  {{/if}}
</div>
{{/link-to}}
