{{#link-to "event" city.slug event.slug}}
<img src={{imageUrl}} alt={{event.name}} data-photo-id={{event.slug}} class="event-card__poster" />
{{#if event.featured}}
  <div class="event-card__featured">Featured</div>
{{/if}}

<div class="event-card__info">
  <h3 class="event-card__header">{{event.name}}</h3>
  {{#if event.venue}}
    <div class="event-card__info-item">{{fa-icon icon="map-marker"}} {{event.venue.name}}</div>
  {{/if}}
  {{#if event.date_only}}
    <div class="event-card__info-item">{{fa-icon icon="clock-o"}} {{event-date event.time_only event.date_only}}</div>
  {{/if}}
  {{#if event.cost}}
    <div class="event-card__info-item event-card__info-item--right event-card__info-item--bold">{{event.cost}}</div>
  {{/if}}
</div>
{{/link-to}}
