{{#link-to "event" event}}
<div class="grid-item grid-item-image" style={{backgroundStyle}}>
  <h3>{{event.name}}</h3>
  {{#if event.cost}}
    <p>{{format-currency event.cost}}</p>
  {{/if}}
  <p>{{event.venue}}</p>
  {{#if event.start_time}}
    <p>{{moment-format event.start_time 'ddd MMM DD, h:mma'}}</p>
  {{/if}}
  {{#if event.shortSummary}}
  <div class="slideover">
    <p>{{event.shortSummary}}</p>
  </div>
  {{/if}}
</div>
{{/link-to}}
