<section>
  <h1>Events in {{model.name}}</h1>

  <div class="flexbox-row">
    <div class="filter-button" {{action 'filterEvents' null}}>All</div>
    <div class="filter-button">{{link-to 'Today' 'city' (query-params filter="isToday") }}</div>
    <div class="filter-button" {{action 'filterEvents' 'tomorrow'}}>Tomorrow </div>
    <div class="filter-button">{{link-to 'Weekend' 'city' (query-params filter="isWeekend") }}</div>
    <div class="filter-button" {{action 'filterEvents' 'featured'}}>Featured </div>
    <div class="filter-button" {{action 'filterByCost' 'free'}}>Free</div>
  </div>

  <div class="grid-items">
    {{#masonry-grid items=filteredEvents}}
      {{#each filteredEvents as |event|}}
        {{event-card city=model event=event}}
      {{else}}
        <center>There are no events for this date</center>
      {{/each}}
    {{/masonry-grid}}
  </div>
</section>

<section class="pagination">
  <ul>
    <li>
      <ul>
        <li>{{link-to '1' 'city' (query-params page="1") }}</li>
        <li>{{link-to '2' 'city' (query-params page="2") }}</li>
        <li>{{link-to '3' 'city' (query-params page="3") }}</li>
        <li>{{link-to '4' 'city' (query-params page="4") }}</li>
        <li>{{link-to '5' 'city' (query-params page="5") }}</li>
        <li>{{link-to '6' 'city' (query-params page="6") }}</li>
        <li>{{link-to '7' 'city' (query-params page="7") }}</li>
        <li>{{link-to '8' 'city' (query-params page="8") }}</li>
        <li>{{link-to '9' 'city' (query-params page="9") }}</li>
        <li>{{link-to '10' 'city' (query-params page="10") }}</li>
        <li>{{link-to '11' 'city' (query-params page="11") }}</li>
        <li>{{link-to '12' 'city' (query-params page="12") }}</li>
        <li>{{link-to '13' 'city' (query-params page="13") }}</li>
        <li>{{link-to '14' 'city' (query-params page="14") }}</li>
        <li>{{link-to '15' 'city' (query-params page="15") }}</li>
      </ul>
    </li>
  </ul>
</section>
{{outlet}}
