{{#if featuredEvents}}
  <div class="featured-events-container">
    {{#each featuredEvents as |featured|}}
    {{featured-event-card city=model event=featured}}
    {{/each}}
  </div>
{{/if}}

<section class="color-section full-width">
  {{button-group}}
  <div class="flexbox">
    <div class="padding flexbox__item">
      <span class="checkbox-label"><b>Night Only</b> <small>(After 6pm)</small></span>
      <label class="label-switch pull-right">
        {{input type="checkbox" checked=night_only }}
        <div class="checkbox"></div>
      </label>
    </div>
    <div class="padding flexbox__item">
      <span class="checkbox-label"><b>Free</b></span>
      <label class="label-switch pull-right">
        {{input type="checkbox" checked=free }}
        <div class="checkbox"></div>
      </label>
    </div>
  </div>
</section>
{{outlet}}
