{{groupValue}}
<section>
  <h1>Events in {{model.name}}</h1>
  <div class="flexbox-row">
    {{button-group dateRangeChanged='filterByDate' date_range=date_range}}
    <div class="">
      Free
      <label class="label-switch">
        {{input type="checkbox" checked=free }}
        <div class="checkbox"></div>
      </label>
    </div>
    <div class="filter-button" {{action 'resetAllFilters'}}>Reset</div>
  </div>
</section>
{{outlet}}
