<h1>Events in {{model.name}}</h1>

<div class="grid-items">
  <div {{action 'filterEvents' 'all'}}>All</div>
  <div {{action 'filterEvents' 'isToday'}}>Today</div>
  <div {{action 'filterEvents' 'isTomorrow'}}>TOmorrow </div>
  <div {{action 'filterEvents' 'isWeekend'}}>Weekend </div>
  <div {{action 'filterEvents' 'featured'}}>Featured </div>
  <div {{action 'filterEvents' 'isFree'}}>Free </div>
</div>

<div id="liquid-bind-demo">
  {{liquid-bind hours}}:{{liquid-bind minutes}}:{{liquid-bind seconds}}
</div>


<div class="grid-items">
  {{#liquid-with filteredEvents as |currentModel|}}
    {{#each currentModel as |event|}}
      {{event-card city=model event=event}}
    {{else}}
      <center>There are no events for this date</center>
    {{/each}}
  {{/liquid-with}}
</div>

{{outlet}}
