<section>
  <h1>Events in {{model.name}}</h1>
  <div class="flexbox-row">
    <div class="filter-button" {{action 'resetAllFilters'}}>Reset</div>
    <div class="filter-button" {{action 'filterByDate' 'today'}}>Today</div>
    <div class="filter-button" {{action 'filterByDate' 'tomorrow'}}>Tomorrow </div>
    <div class="filter-button" {{action 'filterByDate' 'weekend'}}>Weekend</div>
    {{!-- <div class="filter-button" {{action 'filterByDate' 'featured'}}>Featured </div> --}}
    <div class="">
      Free
      <label class="label-switch">
        {{input type="checkbox" checked=free }}
        <div class="checkbox"></div>
      </label>
    </div>
  </div>
</section>
{{outlet}}
