<h1>Events in {{model.name}}</h1>

<div class="grid-items">
  <div {{action 'filterToday'}}>Today</div>
  <div {{action 'filter-today'}}>TOmorrow </div>
  <div {{action 'filter-today'}}>THis week </div>
  <div {{action 'filter-today'}}>Weekend </div>

</div>


<div class="grid-items">
  {{#each filteredEvents as |event|}}
    {{event-card city=model event=event}}
  {{/each}}
</div>

{{outlet}}
