<div class="navigation-wrapper">
  {{#link-to 'cities' class="logo"}}
    <img src="/assets/img/logo.png" alt="Logo Image" {{action 'disableMenu'}}>
  {{/link-to}}
  <nav role="navigation" {{action 'disableMenu'}}>
    <ul id="js-navigation-menu" class="navigation-menu">
      <li class="nav-link">{{link-to 'About' 'about'}}</li>
      <li class="nav-link">{{link-to 'Contact' 'contact'}}</li>
    </ul>
  </nav>
  <div class="navigation-tools">
    <ul id="js-navigation-menu" class="navigation-menu" {{action 'disableMenu'}}>
      {{#if session.isAuthenticated }}
          {{session.currentUser.image_url}}
          <li class="nav-link"><img src={{session.currentUser.image}} alt="Avatar" class="user-avatar" /> {{link-to session.currentUser.name 'user'}}</li>
          <li class="nav-link"><a href="#" {{action 'logout'}}>Logout</a></li>
      {{else}}
        <li class="nav-link"><a href="#" {{action 'signInViaFacebook'}}>Facebook Login</a></li>
      {{/if}}
    </ul>
    {{!-- <div class="search-bar">
      <form role="search">
        <input type="search" placeholder="Enter Search" />
        <button type="submit">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
        </button>
      </form>
    </div> --}}
  </div>
</div>
