<select onchange={{action "selectCategory" value="target.value"}}>
    <option value='top' selected={{eq category 'top'}}>All Event Types</option>
    <option value='live-music' selected={{eq category 'live-music'}}>Live Music</option>
    <option value='bars-clubs' selected={{eq category 'bars-clubs'}}>Bars & Clubs</option>
    <option value='nightlife' selected={{eq category 'nightlife'}}>Nightlife</option>
    <option value='art-museums' selected={{eq category 'art-museums'}}>Art & Museums</option>
    <option value='comedy' selected={{eq category 'comedy'}}>Comedy</option>
    <option value='theatre-dance' selected={{eq category 'theatre-dance'}}>Theatre & Dance</option>
    <option value='food-wine' selected={{eq category 'food-wine'}}>Food & Wine</option>
    <option value='holiday' selected={{eq category 'holiday'}}>Holiday</option>
    <option value='sport-fitness' selected={{eq category 'sport-fitness'}}>Sport & Fitness</option>
    <option value='educational' selected={{eq category 'educational'}}>Educational</option>
</select>
