<h1><%= @event.name %></h1>
<ul>
  <li><%= @event.start_time %></li>
  <li><%= @event.end_time %></li>
  <li><%= @event.venue %></li>
  <li><%= @event.summary %></li>
  <li><%= image_tag(@event.image_url) %></li>
  <li><%= image_tag @event.image.url(:medium) %></li>
  <li><%= link_to "Back to Events List", events_path %></li>
</ul>
<h2>User's who have RSVP'd to the event.</h2>

<% @users.each do |user| %>
<ul>
  <li><%= user.name %></li>
  <li><%= image_tag(user.image) %></li>
</ul>
<% end %>
<% @users_id_array.each do |user_id| %>
  <li><%= user_id %></li>
<% end %>
