<section>
  <h1>{{model.name}}</h1>
  {{!-- <img src={{model.image_url}} alt={{model.name}} data-photo-id={{model.slug}} /> --}}
  Address: {{model.address}}
  <div class="">
    {{#each model.events as |event|}}
    {{event.name}}<br />
    {{/each}}
  </div>
</section>
