<div class="button-group">
  {{link-to "This Week" 'city.events' 'sf' 'events' 'week'}}
  {{link-to "Today" 'city.events' 'sf' 'events' 'today'}}
  {{link-to "Tomorrow" 'city.events' 'sf' 'events' 'tomorrow'}}
  {{link-to "Weekend" 'city.events' 'sf' 'events' 'weekend'}}
  {{link-to "All" 'city.events' 'sf' 'events' 'upcoming'}}
</div>
