<div class="button-group">
  <label>
    {{radio-button
      value="week"
      name="button-group"
      groupValue=date_range
      changed="dateRangeChanged"}}
    <span class="button-group-item">This Week</span>
  </label>
  <label>
    {{radio-button
      value="today"
      name="button-group"
      groupValue=date_range
      changed="dateRangeChanged"}}
    <span class="button-group-item">Today</span>
  </label>
  <label>
    {{radio-button
      value="tomorrow"
      name="button-group"
      groupValue=date_range
      changed="dateRangeChanged"}}
    <span class="button-group-item">Tomorrow</span>
  </label>
  <label>
    {{radio-button
      value="weekend"
      name="button-group"
      groupValue=date_range
      changed="dateRangeChanged"}}
    <span class="button-group-item">Weekend</span>
  </label>
  <label>
    {{radio-button
      value="all"
      name="button-group"
      groupValue=date_range
      changed="dateRangeChanged"}}
    <span class="button-group-item">All</span>
  </label>
</div>

{{yield}}
