<div class="grid-items">
  {{#masonry-grid items=model.events}}
    {{#each model.events as |event|}}
      {{event-card city=model.city event=event}}
    {{else}}
      <center>There are no events for this date</center>
    {{/each}}
  {{/masonry-grid}}
</div>

<section class="pagination">
  <ul>
    <li>
      <ul>
        <li><a href="" {{action 'getPrevPage'}}>Previous</a></li>
        <li><a href="" {{action 'getNextPage'}}>Next</a></li>
      </ul>
    </li>
  </ul>
</section>
{{outlet}}
