<div class="outer-containers">
    {{main-menu toggleMenu='toggleMenu'}}
    {{#if session.isAuthenticated }}
      <p>Welcome {{session.currentUser.name}}
        <a href="#" {{action 'logout'}}>Logout</a>
      </p>
    {{else}}
      <a href="#" {{action 'signInViaFacebook'}}>Login via Facebook</a>
    {{/if}}
    {{outlet}}
</div>
{{main-footer}}
