<div class="frame {{menuModifier}} {{modalModifier}}">
  <div class="frame__menu">
    {{main-menu  disableMenu='disableMenu'
                 toggleMenu='toggleMenu'
                 signInViaFacebook="signInViaFacebook"
                 logout="logout"
                 session=session
                 myAccount=myAccount}}
  </div>
  <div class="frame__header">
    {{main-header headerTitle=headerTitle
                  toggleMenu='toggleMenu'}}
  </div>
  <div>
    <div class="frame__content">
      {{outlet}}
    </div>
    <div class="frame__modal-cover" {{action 'disableModal'}}>

    </div>
  </div>
  <div class="">
    <br><br>
  </div>
</div>
<div class="frame__footer">
  {{main-footer}}
</div>
