<section>
  <h1>{{model.name}}</h1>

  <article>
    <p>
      <img src={{model.image_url}} alt={{model.name}} data-photo-id={{model.slug}} style="float:left; padding: 0 1em 0.5em 0;" />
      {{model.summary}}
    </p>

    {{!-- {{#if model.event.venue}}
      {{google-map venue=model.event.venue}}
    {{/if}} --}}
  </article>
  <aside>
    <ul>
      <li>{{fa-icon icon="usd"}} {{model.cost}}</li>
      <li>{{fa-icon icon="home"}} {{model.venue.name}}</li>
      <li>{{fa-icon icon="map-marker"}} {{model.venue.address}}</li>
      <li>{{fa-icon icon="clock-o"}} {{event-date model.time_only model.date_only}}</li>
      <li>{{fa-icon icon="tags"}} {{model.tagsList}}</li>
    </ul>
  </aside>
</section>

{{#if model.schedule}}
  <div class="color-section">
    <section class="outer-container">
      <b>Full schedule:</b><br>
      {{#each model.scheduleList as |time|}}
        {{time}}<br>
      {{/each}}
    </section>
  </div>
{{/if}}
