<section>
  <h1>{{model.name}}</h1>

  <article itemscope itemtype="http://schema.org/Event">
    <p itemprop="description">
      <img itemprop="image" src={{model.image_url}} alt={{model.name}} data-photo-id={{model.slug}} style="float:left; padding: 0 1em 0.5em 0;" />
      {{model.summary}}
    </p>

    {{!-- {{#if model.event.venue}}
      {{google-map venue=model.event.venue}}
    {{/if}} --}}
  </article>
  <aside>
    <ul itemscope itemtype="http://schema.org/Event">
      <li itemprop="offers" itemscope itemtype="http://schema.org/Offer">{{fa-icon icon="usd"}} <span itemprop="price">{{model.cost}}</span></li>
      <li itemprop="name">{{fa-icon icon="home"}} {{model.venue.name}}</li>
      <li itemprop="location">{{fa-icon icon="map-marker"}} {{model.address}}</li>
      <li itemprop="startDate" datetime={{model.start_date_time}}>{{fa-icon icon="clock-o"}} {{event-date model.start_date_time}}</li>
      <li>{{fa-icon icon="tags"}} {{model.tagsList}}</li>
    </ul>
    {{google-map address=model.address}}
  </aside>
</section>

{{#if model.schedule}}
  <div class="color-section">
    <section class="outer-container">
      {{schedule-list schedule=model.scheduleList}}
    </section>
  </div>
{{/if}}
