<section>
  <article itemscope itemtype="http://schema.org/Event">
    <meta itemprop="name" content={{model.event.name}} />
    <meta itemprop="startDate" content={{model.event.nextDate}} />
    <span itemprop="location" itemscope itemtype="http://schema.org/Place">
      <meta itemprop="name" content={{model.event.venue.name}} />
      <meta itemprop="address" content={{model.event.address}} />
    </span>
    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="price" content={{model.event.cost_integer}} />
      <meta itemprop="url" content={{model.event.source_url}} />
    </span>

    {{event-description event=model.event}}
    {{#if model.event.scheduleList}}
      <div class="color-section">
        <section class="outer-container">
          {{schedule-list schedule=model.event.scheduleList}}
        </section>
      </div>
    {{/if}}
  </article>

  <aside>
    <h3 class="section-header">Details</h3>
    <ul itemscope itemtype="http://schema.org/Event">
      {{#if model.event.cost}}
        <li itemprop="offers" itemscope itemtype="http://schema.org/Offer">{{fa-icon icon="usd"}} <span itemprop="price" content={{model.event.cost_integer}}>{{model.event.costDisplay}}</span></li>
      {{/if}}
      <li itemprop="name">{{fa-icon icon="home"}} {{link-to model.event.venue.name 'venue' model.event.venue}}</li>
      <li itemprop="location" itemscope itemtype="http://schema.org/Place">
        {{fa-icon icon="map-marker"}} <span itemprop="name">{{model.event.address}}</span>
        <meta itemprop="address" content={{model.event.address}} />
      </li>
      <li itemprop="startDate" content={{model.event.nextDate}}>{{fa-icon icon="clock-o"}} {{event-date model.event.nextDate}}</li>
      <li>{{fa-icon icon="tags"}} {{model.event.tagsList}}</li>
      {{#if model.event.source_url}}
        <li>{{fa-icon icon="external-link"}} <a href={{model.event.source_url}} itemprop="url" target="_blank">{{model.event.sourceUrlDomain}}</a></li>
      {{/if}}
    </ul>
    {{google-map venue=model.event.venue.name address=model.event.address}}
    <h3 class="section-header">More events</h3>
    {{#each model.extraEvents as |event|}}
      {{event-card city=model.city event=event}}
    {{/each}}
  </aside>
</section>
