<div class="main-header__menu">
  {{#if menuLevel}}
    <i class="fa fa-bars" {{action 'toggleMenu'}}> {{currentRoute}}</i>
  {{else}}
  <i class="fa fa-angle-left" {{action 'goBack'}}></i>
  {{/if}}
</div>
<div class="main-header__title">
  <h1>{{headerTitle}}</h1>
</div>
